.react-datepicker {
    /* випадаюче меню, фон місяця */
    background-color: var(--white-color);
    color: var(--text-color);
    font-size: 16px;
    /* усе випадаюче вікно з шапкою і тілом місяця */
    /* border: 1px solid red; */
    border: none;
    box-shadow: 0px 20px 69px 0px #00000012;
    width: 100%;
}


/** відстань від інпута вверх до іншого елемента над ним */
/* .react-datepicker-wrapper {
    margin-top: 4px;
} */

/**  */
.react-datepicker--time-only {
    .react-datepicker__time {
        width: 150px;
        height: 180px;
        border-radius: 12px;
        padding: 16px;
    }

    .react-datepicker__time-box {
        height: 148px;
        overflow: hidden;
    }
}

.react-datepicker-popper {
    .react-datepicker__triangle {
        display: none;
    }

}